@this(assetsFinder: AssetsFinder)
@(title: String, projectName: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        @* <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">*@
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="@assetsFinder.path("images/favicon.ico")">
    </head>
    <body>
        <div id="body"></div>
        <script src="@(Seq(s"$projectName-opt-bundle.js", s"$projectName-fastopt-bundle.js")
                .find(name => getClass.getResource(s"/public/$name") != null)
                .map(assetsFinder.path)
                )"></script>
    </body>
</html>
